
# dev/test dependencies for running the e2e suite locally
pytest==7.4.0
requests==2.31.0
pytest-cov==4.1.0
httpx==0.26.1

# ML training/dev dependencies
mlflow==2.5.0
scikit-learn>=1.2.0
joblib>=1.2.0

# include runtime requirements if needed
-r api/requirements-api.txt
-r api/requirements-db.txt
